container
{
	position: relative;
	max-width: 500px;
}
img
{
	max-width: 100%;
	height: auto;
}
text-on-right
{
	position: absolute;
	top: 0;
	right: 0;
	background-color: lightslategrey;
	padding: 10px;
}